<%= form_tag(controller: "sessions", action: "create", method: "post") do %>

<label>User name:</label>&nbsp;&nbsp;
<%= text_field_tag (:name) %>
<br />
<label>Password:</label>&nbsp;&nbsp;
<%= text_field_tag (:password) %>
<br />
<%= submit_tag "Submit" %>
<%end%>
